@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap);

html {
  scroll-behavior: smooth;
  background-color: #030c1d;
  font-family: 'Inter', sans-serif, !important;
}

body {
  background: url('./assets/png/admin-background.png');
  background-size: cover;
  margin: 0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0
}

a, a:link, a:visited {
  text-decoration: none !important;
}

a.link, .link, a.link:link, .link:link, a.link:visited, .link:visited {
  color: #344767 !important;
  transition: color 150ms ease-in !important
}

a.link:hover, .link:hover, a.link:focus, .link:focus {
  color: #0075ff !important
}